.board-card{
    background-image: url("../../../../assets/musellpage-plus-kit-bg.db26e8ed.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}