<div class="board-card">
  <div class="container">
    <div class="grid m-0">
      <div class="col xl:col-6 flex">
        <div class="w-full md:flex justify-content-between">
          <div>
            <h1>Round</h1>
            <h2>Players</h2>
          </div>
          <div class="flex align-items-center"><h1>Tiempo</h1></div>
          <div class="flex align-items-center">
            <button style="max-height: 50px" class="btn-game mr-2">
              Start game <i class="pi pi-power-off"></i>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="grid m-0">
      <div class="col md:col-8">
        <div class="surface-card p-4 shadow-2 border-round">
          <div class="text-3xl font-medium text-900 mb-3">Partida</div>
          <div class="font-medium text-500 mb-3">
         
          </div>
          <div
            style="height: 150px"
            class="border-2 border-dashed surface-border"
          ></div>
        </div>
      </div>
      <div class="col md:col-4">
        <div class="surface-card p-4 shadow-2 border-round">
          <div class="text-3xl font-medium text-900 mb-3">Mazo</div>
          <div class="font-medium text-500 mb-3">
          </div>
          <div
            style="height: 150px"
            class="border-2 border-dashed surface-border"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
